.App {
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: solid 1px darkseagreen;
  padding: 10px;
  min-height: 10vh;
  max-height: 20vh;
}
